<%= form_for @user do |f| %>
  <div class="form">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group__text">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group__text">
      <%= f.label :Username %>
      <%= f.text_field :Username, class: "form-control" %>
    </div>
  
    <div class="form-group__text">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
  

    <%= f.collection_check_boxes(:ccg_ids, Ccg.all, :id, :name) do |c| %>
      <div class="row">
    <%= c.label(class: "ccg_label") do %>
      
      <%= c.check_box(class: "check_box") %>
      <%= c.object.name %>
        
         
    <% end %>
  </div>
      <%end%>
    <div class="actions">
      <%= f.submit class: "btn btn__dark" %>
    </div>
    
  </div>
  <% end %>