<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <p><strong>Username:</strong></p><b> <%= @user.Username %></b>
    <%if @user==current_user%>
      <p><strong>Name:</strong></p><b> <%= @user.name %></b>
    <%end%>
    <p><strong>CCGs:</p></strong><b> <% @user.ccg_ids.uniq.each do |g| %>
      <%=Ccg.find(g).name%><br>
    <%end%>
    </b>
    <br></br>
    <a>
    <%if @user==current_user%>
      <%= link_to 'Edit User', [:edit, @user] %> <c>-</c>
      <%= link_to 'View/Edit your decks', decks_path %> <c>-</c>
      <%= link_to 'Play Games', games_path %> <c>-</c>
      <%= link_to 'Browse Users', users_path %>
    <%else%>
      <%= link_to "View #{@user.Username}'s decks",  "./#{@user.id}/decks_index"%> <b>-</b>
    <%end%>
    
    </a>
  </div>
</div>