<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <p><strong>Username:</strong></p><b> <%= @user.Username %></b>
    <p><strong>Name:</strong></p><b> <%= @user.name %></b>
    <p><strong>CCGs you play:</p></strong><b> <% @user.ccg_ids.uniq.each do |g| %>
      <%=Ccg.find(g).name%><br>
    <%end%>
    </b>
    <br></br>
    <a>
    <%= link_to 'Edit User', [:edit, @user] %> <b>-</b>
    <%= link_to 'View/Edit your decks', decks_path %> <b>-</b>
    <%= link_to 'Play some Games!', games_path %>
    </a>
  </div>
</div>