    <%= form_for @game do |g| %>  
    <div class="form u-center-text">
    <div class="form-group header">Play a game! 
        <%= link_to 'View Games', games_path, class: "btn btn__white" %></div>
        <div class="form-group form-group__select">
        <label class="form__label form__label__static">Deck:</label>
            <%= g.collection_select(:deck_id, @decks, :id, :name, {include_blank:"Select a Deck"}) %>
        </div>
        <div class="form-group form-group__radio">
            <label class="form__label form__label__static">Result:</label>
            <%= g.radio_button(:result, "Win",:class=>"game-win") %>
            <%= label_tag(:game_result_win, "Win",:class=>"radio radio__game-win") %>
            <%= g.radio_button(:result, "Loss", :class=>"game-loss") %>
            <%= label_tag(:game_result_loss, "Loss",:class=>"radio radio__game-loss") %>
        </div>
        <%= render 'optional', g: g %>
        
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <input class= "btn btn__white btn__center" type="submit" Id="submitGame" value="Record Game" >
    </div>
<%end%>
