<strong>Play a game! </strong>
<
<p id="notice"><%= notice %></p>
<p><%= link_to 'Play Games!', new_game_path %></p>
<% if @games%>
    <%@games.each do |game| %> 
        <div>
        <% if game==@last_game%>
            <td>
                <form action="/games/delete" method="POST"><input type="submit" value="Delete Most Recent Game">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                    <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
                </form>
                <%if game.deck%>
                    <td><%= link_to "#{game.deck.name}", game_path(game) %> : <%=game.result %> </td>
                <%else%>
                    <td>Deck was deleted: <%=game.result %> </td>
                <%end%>
            </td>

        <%else%>
            <%if game.deck%>
                <td><%= link_to "#{game.deck.name}", game_path(game) %> : <%=game.result %> </td>
            <%else%>
                <td>Deck was deleted: <%=game.result %> </td>
            <%end%>
        <%end%>
        </div>
    <%end%>
<%end%>
 


