<strong>Play a game! </strong>


<% if @deck %>
<p><%= link_to 'Play Games!', new_deck_game_path(@deck) %></p>
<%else%>
    <p><%= link_to 'Play Games!', new_game_path %></p>
<%end%>
<% if @games%>
    <%@games.each do |game| %> 
        <div>
        <% if game==@last_game%>
            <td>
                <form action="/games/delete" method="POST"><input type="submit" value="Delete Most Recent Game">
                    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
                    <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
                </form>
                <%if game.deck%>
                    <td><%= link_to "#{game.deck.name}", game_path(game) %> :  </td>
                    <div class="popover__wrapper">                    
                        <h4 class="popover__title"><%=game.result %></h4>
                        <div class="push popover__content">
                            <p class="popover__message">
                            <%game.tags.each do |tag|%>
                                <%=tag.name%>
                            <%end%><br>
                            <%if game.comment%>
                                <%=game.comment%>
                            <%end%></p>
                        </div>
                    </div>
                <%else%>
                    <td>Deck was deleted: <%=game.result %> </td>
                <%end%>
            </td>

        <%else%>
            <%if game.deck%>
                <td><%= link_to "#{game.deck.name}", game_path(game) %> :  </td>
                <div class="popover__wrapper">                    
                    <h4 class="popover__title"><%=game.result %></h4>
                    <div class="push popover__content">
                        <p class="popover__message">
                        <%game.tags.each do |tag|%>
                            <%=tag.name%>
                        <%end%><br>
                        <%if game.comment%>
                            <%=game.comment%>
                        <%end%></p>
                    </div>
                </div>
            <%else%>
                <td>Deck was deleted: <%=game.result %> </td>
            <%end%>
        <%end%>
        </div>
    <%end%>
<%end%>
 


