<strong>Play a game! </strong>
<p id="notice"><%= notice %></p>
<%= form_for @game do |g| %>

<div class="center">

  <div class="info">
  <form action="/games/save" method="post">
    <div class="form-group">
        Deck:
        <%= collection_select(g,:deck, @decks, :name, :name) %>
    
    
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Result</label>
        <select class="custom-select my-1 mr-sm-2" name="g.result">
            <option selected>Choose...</option>
            <option value="Win">Win</option>
            <option value="Loss">Loss</option>
        </select>
    
    <h4>optional:</h4>
    
    <b><%= label :opponent_deck, "Opponent's deck" %></b>
        <%= text_field g, :opponent_deck%></div>
    
    <label><h4><center>Tags</center></h4></label><br>
    <% Tag.all.each do |tag| %>
      <div class="form-check form-check-inline">
      <label><%= tag.name %></label>
      <input class="form-check-input" type="checkbox" id="tag_<%=tag.id%>" name="<%= tag.name %>" value="<%= tag.name %>">
    	</div>
    <%end%>
    </div>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
      <input class: "btn btn-primary" type="submit" value="Record Game" >
    </form>
  <%end%>
  </div>
 


