<strong>Play a game! </strong> 
<p><%= link_to 'View Games', games_path %></p>
<p id="notice"><%= notice %></p>
<% if @deck %>
    <p><%= link_to 'Use a different deck', new_game_path %></p>
    <%= render 'deckform'%>
<%else%>
    <%= render 'form'%>
<%end%>

 


