<div class="game">
            <div class="row"><div class="game__show">Deck Name:<div class="game__show_deck"> <%= @game.deck.name %></div></div></div>
            <div class="row"><div class="game__show">Game:<div class="game__show_game"> <%= @game.deck.ccg.name %></div></div></div>
            <div class="row"><div class="game__show">Result:<div class="game__show_result"> <%= @game.result %></div></div></div>
            <%if @game.opponent_deck!="" %>
               <div class="game__show">Opponent Deck:<div class="game__show_deck"> <%= @game.opponent_deck %></div></div>
            <%end%>
            <%if @game.comment!="" %>
               <div class="game__show">Comments:<div class="game__show_comments"> <%= @game.comment %></div></div>
            <%end%>
            <div class="game__show">
               Tags:
               <% @game.tags.each do |tag|%>
                  <div class="game__show_tags"><%=tag.name%></div>
               <%end%>
            </div>

</div>