<div class="center">
        <div class="info">
            <p><strong>Deck Name:</strong> <%= @game.deck.name %></p>
            <p><strong>Game:</strong> <%= @game.deck.ccg.name %></p>
            <p><strong>Result:</strong> <%= @game.result %></p>
            <%if @game.opponent_deck %>
               <p><strong>opponent deck:</strong> <%= @game.opponent_deck %></p>
            <%end%>
            <%if @game.comment %>
               <p><strong>Comments:</strong> <%= @game.comment %></p>
            <%end%>
            <p><b>Tags</b></p>
            <% @game.tags.each do |tag|%>
               <%=tag.name%><br>
            <%end%>
        </div>

</div>