<!DOCTYPE html>
<html>
  <head>
    <title>CCG Tracker</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="navbar main-nav" role="navigation">
      <div class="info">
        
        
        <% if !logged_in? %>
          <a class="navbar navbar--link navbar--brand" href="<%=new_user_path%>">Sign Up</a>
          <a class="navbar navbar--link navbar--brand" href="<%= signin_path %>">Log In</a>
        <% else %>
          
           <a class="btn btn--light btn--sm navbar--brand" href="<%= user_path(current_user) %>"/>Home</a>
          <span class="navbar-login-info"><%=current_user.Username%> logged in</span>
          <a class="btn btn--light btn--sm navbar--brand" data-method="delete" href="<%= signout_path %>">Log Out</a>
        <%end%>
      
        <n id="notice"><i><%= notice %></i><br></n>
        </div>
      </div>
    </div>

    <!-- content -->
    <div class="info"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
